body{
	background: url(fon.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'Pacifico', cursive;
	color: darkblue;
	background: lightblue;
}
img{
	margin-left: 35%;
	border: 4px solid lightsalmon;
	border-radius: 5% grey;
}
.img2{
	width: 30%;
	margin: 5;
	
}
.card{
	width: 30%;
	height: 150px;
	margin-left: 3%;
	display: inline-block;
}
a{
	text-decoration: underline;
	color: lightblue;
}
.img3{
	top: 600px;
	left: 5px;
	z-index: 10;
}
h1{
	display: inline-block;
	color: white;
}
header{
	background: darkblue;
	padding: 3px;
}
.strelka{
	position: fixed;
	left: 150px;
}